{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container py-5">
    <h1>Login</h1>
    <form method="POST">
		{% csrf_token %}
		{{ login_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Login</button>
		<p class="text-center">Forgot your password? Click <a href="/user/reset-password">here</a> to reset it.</p>
	</form>
	<p class="text-center">If you don't have an account, <a href="/user/register">register</a> instead.</p>
</div>

{% endblock content %}