{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container py-5">
    <h1>Forgot your password?</h1>
    <p> Enter your email address below and we we'll send you instructions.</p>
    {% if email_error %}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		Account with given email doesn't exist.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
    {% endif %}
    <form method="POST">
		{% csrf_token %}
		{{ password_reset_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Send email</button>
	</form>
</div>

{% endblock content %}