{% extends "base.html" %}
{% block content %}
<div class="container bg-light py-5">
  <div class="d-flex flex-column align-items-center h-100">
    <div class="card w-100 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <img class="img-fluid" src="{{ user_profile.profile.avatar.url }}" alt="user-profile-picture">
            </div>
            <div class="col-9">
              <div class="col-12">
                <p>Username:</p>
                <p>{{ user_profile.username }}</p>
              </div>
              <div class="col-12">
                <p>Bio:</p>
                <p>{{ user_profile.profile.bio }}</p>
              </div>
            </div>
          </div>
          {% if user.is_authenticated and user.username == username %}
          <a href="#" class="card-link">Edit profile</a>
          {% endif %}
        </div>
        <hr>
        <div class="bg-secondary w-100 align-middle text-center py-3">
          <p class="display-5 m-0">Best {{user_profile.username}}'s posts</p>
        </div>
        {% for post in user_posts %}
        <div class="card shadow-none h-100">
          <div class="row p-3">
            <!-- Show when screen is larger or equal lg -->
            <div class="col-2 d-none d-lg-block">
              <img src="{{ post.image.url }}" class="img-fluid rounded-top" alt="Thumbnail">
            </div>
            <div class="col-10 d-none d-lg-block">
              <h2 class="card-title fs-5">{{ post.title }}</h2>
              <h2 class="card-text text-muted fs-5">Likes: {{ post.likes }}</h2>
              <p class="card-text">{{post.content|slice:":80" }}{% if post.content|length > 79 %}&hellip;{% endif %}</p>
              <a href="{% url 'post-detail' post.slug  %}" class="btn btn-primary align-self-baseline">Read More &rarr;</a>
            </div>

            <!-- Show when screen is smaller than lg -->
            <div class="col-12 d-block d-lg-none">
              <img src="{{ post.image.url }}" class="rounded-top image-restriction" alt="Thumbnail">
            </div>
            <div class="col-12 d-block d-lg-none">
              <h2 class="card-title fs-5">{{ post.title }}</h2>
              <h2 class="card-text text-muted fs-5">Likes: {{ post.likes }}</h2>
              <p class="card-text">{{post.content|slice:":80" }}{% if post.content|length > 79 %}&hellip;{% endif %}</p>
              <a href="{% url 'post-detail' post.slug  %}" class="btn btn-primary align-self-baseline">Read More &rarr;</a>
            </div>
          </div>       
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}