{% extends "base.html" %}
{% block content %}
<!-- Masthead -->
<header class="masthead bg-light">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white"> Hello adventurer! </h3>
                    <p class="text-light">Come here, take a seat near campfire and tell us about your story&hellip;
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Most liked posts -->
<div class="section">
    <div class="row mx-0">
        <div class="col-12 bg-secondary bg-gradient text-center py-4">
            <h1>Most liked posts</h1>
        </div>
    </div>
</div>

<!-- Carousel -->
<div class="container bg-light">
    <div class="row pt-3 justify-content-center">
        <div class="col mb-3">
            <div id="mostLikedPosts" class="carousel slide h-100" data-bs-ride="carousel">
                <div class="carousel-inner">
                <!-- Carousel items -->
                {% for post in post_list %}
                <!-- Selecting the first item -->
                  <div class="carousel-item{% if forloop.counter0 == 0 %} active{% endif %}" data-bs-interval="2000">
                    <div class="card mb-3 shadow-none h-100">
                        <div class="d-lg-none d-block">
                            <div class="row g-0">
                                <div class="d-flex col-12 align-items-center">
                                    <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="Thumbnail">
                                </div>
                            </div>
                            <!-- Post info -->
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body">
                                      <h2 class="card-title">{{ post.title }}</h2>
                                      <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                                      <p class="card-text">{{post.content|slice:":200" }}{% if post.content|length > 199 %}&hellip;{% endif %}</p>
                                      <a href="{% url 'post-detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                                    </div>
                                  </div>
                            </div>       
                        </div>
                        <div class="d-lg-block d-none">
                            <!-- Post info -->
                            <div class="row">
                                <div class="col-5">
                                    <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="Thumbnail">
                                </div>
                                <div class="col-7">
                                    <div class="d-flex flex-row flex-wrap h-100">
                                        <div class="card-body w-100 h-75">
                                            <h2 class="card-title">{{ post.title }}</h2>
                                            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                                            <p class="card-text">{{post.content|slice:":400" }}{% if post.content|length > 399 %}&hellip;{% endif %}</p>
                                            
                                        </div>
                                        <a href="{% url 'post-detail' post.slug  %}" class="btn btn-primary align-self-end m-3">Read More &rarr;</a>
                                    </div>
                                </div>
                            </div>       
                        </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#mostLikedPosts" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mostLikedPosts" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>

<!-- All posts -->
<div class="section">
    <div class="row mx-0">
        <div class="col-12 bg-secondary bg-gradient text-center py-4">
            <h1>All posts</h1>
        </div>
    </div>
</div>

<!-- All posts container -->
<div class="container bg-light">
    <div class="row justify-content-center">
        <!-- Sort column -->
        <div class="col-12">
            <div class="input-group my-3">
                <button class="btn btn-outline-secondary" onclick="filterPosts(false, this)" type="button" id="search-button">Search</button>
                <input type="text" class="form-control" placeholder="Search..." id="search-bar">
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <form action="" method="get" id="sortForm">
                {% csrf_token %}
                <div class="accordion" id="sortAccordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Sort
                        </button>
                      </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#sortAccordion">
                        <div class="accordion-body">
                            <div class="form-floating mb-2">
                                <select class="form-select" name="sort" id="sort" aria-label="Floating select">
                                  <option value="date">Date</option>
                                  <option value="author">Author</option>
                                  <option value="title">Title</option>
                                </select>
                                <label for="sort">Sort by:</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="order" value="desc" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="order">
                                  Descending
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="order" value="asc" id="flexRadioDefault2">
                                <label class="form-check-label" for="order">
                                  Ascending
                                </label>
                            </div>                                                                                                                   
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Filter
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#sortAccordion">
                          <div class="accordion-body">
                            {% for tag in tag_list %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="filter" value="{{ tag.id }}" id="{{ tag.slug }}-check">
                                <label class="form-check-label" for="{{ tag.slug }}-check">
                                    {{ tag.name }}
                                </label>
                            </div>
                            {% endfor %}         
                          </div>
                        </div>
                    </div>                
                </div>    
                <button class="btn btn-outline-secondary rounded-pill w-100 mt-3" type="button" onclick="filterPosts(false,this)" id="apply-button">Apply</button>               
            </form>
        </div>
        <!-- Posts column -->
        <div class="col-12 col-lg-9 position-rel">
            <section class="all-posts">

            </section>
            <div class="blur" id="blur"></div>
            <div class="spinner-border loading" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'js/filter_posts.js' %}"></script> 
<script src="{% static 'js/disable_checkboxes.js' %}"></script>
{%endblock content %}