{% extends 'base.html' %} 
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 card mb-4 mt-3">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
    <div class="row">
      {% for comment in comments %}
      <div class="col-12 border border-secondary">
        {% load static %}
        <img class="img-fluid" alt="No nic" src="{{ comment.author.profile.avatar.url }}">
        <a href="/user/profile/{{ comment.author }}"><p class="fs-4 text-muted">{{ comment.author }}</p></a>
        <p class="fs-5">{{ comment.content }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}