{% extends 'base.html' %} 
{% block content %}

{% csrf_token %}
<div class="container">
  <div class="row g-0 mb-2">
    <div class="col-md-12 card mb-4 mt-3">
      <div class="card-body">
        <h1>{{ post.title }}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
        <p id="like-count" class="text-muted">Likes: {{ post.likes }}</p>
        {% if user.is_authenticated %}<button id="like-controller" value="{% if liked %}dislike{% else %}like{% endif %}" class="btn btn-primary">Like</button> {% endif %}
      </div>
    </div>
    <section class="comments">

    </section>
    <!-- <div class="row mb-2 w-100">
    </div> -->
    <button type="button" form="moreComments" onclick="getComments()" id="maxCom" name="maxCom" value="0">Show more comments</button>
  </div>
</div>
<script>
  async function getData() {
    let url = "{% url 'post-comments' post.id %}";
    let button = document.getElementById("maxCom");
    let maxComs = parseInt(button.value) + 10;
    let comments = parseInt("{{ comments_len }}");
    if (maxComs >= comments){
      button.setAttribute("class", "d-none");
    }
    const response = await fetch(url + "?" + new URLSearchParams({maxCom : maxComs}), {
      method: "GET"
    });
    button.setAttribute("value", maxComs);
    return response.text(); 
  }
  
  function getComments(){
    getData().then(res=>{
      if(res != undefined){
        document.querySelectorAll("section.comments")[0].innerHTML = res;
      }
    });
  }
  getComments();
</script>
{% load static %}
<script src="{% static 'js/count_likes.js' %}"></script> 
{% endblock content %}